
<div class="container">
  <h3>ようこそ<strong>Bookersへ！</strong></h3>
  <p class="top_p">Bookersでは、さまざまな書籍に関するあなたの意見や</p>
  <p class="top_p">印象を共有し交換することができます</p>
  <a class="top_p" href="/books">start</a>
</div>
